{% extends "adminbase.html" %}

{% block header %}
    <h1>Website Administration</h1>
    <h2>Account</h2>
{% endblock %}

{% block sidebar %}
    
{% endblock %}

{% block content %}

    <div class=section>
    <div class=section_header>
    <h3>Edit Account Information</h3>
    <p class=clearboth></p>
    </div>
		<form action="/manager/account/edit" method="post">
		   <table>
		       {{ form.as_table }}
		   </table>
            <p class=button><input type="submit" value="Submit" /></p>
		</form>
	</div>

{% endblock %}