<html>
    <head>
        <meta name="description" content="{{ page.description }}" >
        <meta name="keywords" content="{{ page.keywords }}" >
        <title>{{ page.title }}</title>
        <link href="/css/base.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <div id=wrapper>
            <div id=header>
                {{ page.title }}
            </div>
            <div id=content>
             
            </div>
            <div id=sidebar>
              
            </div>
            <div id=footer>
               
            </div>
        </div>
    </body>
</html>
