body
{
    font-family: Arial;
}

a
{
    color: darkred;
    text-decoration: none;
}

a:hover
{
    color: black;
}

h1
{
    font-size: 18px;
    margin: 8px;
}

h2
{
    font-size: 14px;
    color: darkgray;
    margin: 8px;
}

div#wrapper
{
    margin: auto;
    width: 600px;
}

div#header
{
    border: 1px solid black;
    height: 150px;
    margin: 5px;
}

div#navigation
{
    text-align: left;
    border: 1px solid black;
    margin: 5px;
}

div#navigation p
{
    margin: 6px;
    font-size: 12px;
}

div#navigation p a
{
    background: lightgray;
    padding: 4px 6px;
    font-weight: bold;
}

div#navigation p a:hover
{
    background: darkgray;
}

div#content
{
    border: 1px solid black;
    margin: 5px;
}

div#content div.section
{
    border: 1px solid lightgray;
    margin: 10px;
}

div#content div.section h3
{
    font-size: 14px;
    border-bottom: 1px dotted lightgray;
    margin: 0px;
    padding: 2px 5px;
}

div#main_content
{
    margin: 5px;
}

div#side_content
{
    float: right;
    margin: 5px;
    width: 170px;
    border: 1px solid gray;
}

div#footer
{
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}

div#footer div#campaign_box
{
    margin: 3px auto;
    border: 1px solid black;
    width: 170px;
}

div#footer div#campaign_box p
{
    margin: 1px;
    font-size: 10px;
}