<html>
    <head>
        <title>
            {% block title %}
                {{ currentaccount.name }}: {{ currentpage.title }}
            {% endblock %}
        </title>
        <link href="/css/base.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <div id=wrapper>
            <div id=header>

            </div>
            <div id=navigation>
                {% block navigation %}
                    <p>
                        {% for page in currentaccount.pages %}
                            <a href="{{ page.get_absolute_url }}"{% ifequal page.slug currentpage.slug %}class=active{% endifequal %}>{{ page.title }}</a>                      
                        {% endfor %}
                    </p>
                {% endblock %}
            </div>
            <div id=content>
                {% if has_side_content %}
	                <div id=side_content>
	                {% block side_content %}
	                
	                {% endblock %}
	                </div>
                {% endif %}
                <div id=main_content>
                    <h1>{{ currentpage.title }}</h1>
	                    {% block content %}
                
                        {% endblock %}
                </div>
            </div>
            <div id=footer>
                <div id=campaign_box>
                    <p>Paid for by John Doe</p>
                    <P>123 Main Street, Cleveland, OH</p>
                                    {% block footer %}
                
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>