<html>
    <head>
        <title>
            {% block title %}
                {{ currentaccount.website_title }}: {{ currentpage.title }}
            {% endblock %}
        </title>
        <link href="/css/base.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <div id=wrapper>
            <div id=header>

            </div>
            <div id=navigation>
                {% block navigation %}
                    <p>
                        {% for page in currentaccount.primary_pages %}
                            <a href="{{ page.get_absolute_url }}"{% ifequal page.slug currentpage.slug %}class=active{% endifequal %}>{{ page.short_title }}</a>                      
                        {% endfor %}
                    </p>
                {% endblock %}
            </div>
            <div id=content>
                {% if has_side_content %}
	                <div id=side_content>
	                {% block side_content %}
	                
	                {% endblock %}
	                </div>
                {% endif %}
                <div id=main_content>
                    <h1>{{ currentpage.title }}</h1>
	                    {% block content %}
                
                        {% endblock %}
                </div>
            </div>
            <div id=email_signup> 
            {% block emailsignup %}
            <form method="post" action="{{ currentaccount.get_email_subscriber_action_url }}">
                <p>
	            {% for field in currentaccount.get_email_subscriber_form %}
		            <b>{{ field.label_tag }}</b>: {{ field }}
		        {% endfor %}
		        <input type="submit" value="Submit" />
		        </p>
	        </form>
			{% endblock %}
            </div>
            <div id=footer>
                {% block footer %}
                    {{ currentaccount.footer_content }}
                {% endblock %}
            </div>
        </div>
    </body>
</html>