<html>
    <head>
        <meta name="description" content="{{ page.description }}" >
        <meta name="keywords" content="{{ page.keywords }}" >
        <title>Administration</title>
        <link href="/css/base.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body>
        <div id=wrapper>
            <div id=header>
            </div>
            <div id=content>
                <form action="/administrator/post" method="post">
				{{ form.as_p }}
				<input type="submit" value="Submit" />
				</form>

            </div>
            <div id=sidebar>
              
            </div>
            <div id=footer>
               
            </div>
        </div>
    </body>
</html>
