{% extends "adminbase.html" %}

{% block header %}
    <h1>Website Administration</h1>
    <h2>Users</h2>
{% endblock %}

{% block sidebar %}
    
{% endblock %}

{% block content %}
    <div class=section>
    <div class=section_header>
	    <h3>
	       {% if currentuser.id %}
	           Edit User
           {% else %}
               Add User
           {% endif %}
        </h3>
        <p class=clearboth></p>
        </div>
	    <form method="post">
	       <table>
	           {{ form.as_table }}
	       </table>
	       <p class=button><input type="submit" value="Submit" /></p>
	    </form>
	</div>
{% endblock %}